/* Variables */

/* Swatch Original */

:root {
  --color-white: #{#ffffff};
  --color-black: #{#000000};
  --color-background-lightest: #{#ffffff};
  --color-background-light: #{#f1f4ff};
  --color-background: #{#ededed};
  --color-shadow-up: #{#ffffff};
  --color-shadow-down: #{#cdcfd9};
  --color-box-shadow: #{71, 71, 71};
  --color-text-nav: #{#373f57};
  --color-text-grey: #{#6a728b};
  --color-error-red: #{#b00020};

  --color-primary-lightest: #{#bcc1f8};
  --color-primary-light: #{#8c96ef};
  --color-primary-light-sub: #{#a7aef0};
  --color-primary: #{#6772e5}; // Main Primary color */
  --color-primary-dark: #{#4755d8};
  --color-primary-darkest: #{#303f9f};

  --color-secondary-lightest: #{#fab3e6};
  --color-secondary-light: #{#f27ed2};
  --color-secondary: #{#ea55c1}; // Main Secondary color */
  --color-secondary-dark: #{#df32af};
  --color-secondary-darkest: #{#d10e9b};

  --color-tertiary-lightest: #{#ebfeb6};
  --color-tertiary-light: #{#ddfc83};
  --color-tertiary: #{#d2fb5b}; // Main tertiary color */
  --color-tertiary-dark: #{#c7f937};
  --color-tertiary-darkest: #{#bbf610};

  --color-complementary-lightest: #{#ffebb7};
  --color-complementary-light: #{#ffde85};
  --color-complementary: #{#ffd35d}; // Main complementary color */
  --color-complementary-dark: #{#ffc939};
  --color-complementary-darkest: #{#ffbe11};
}
.light-mode {
  --color-white: #{#ffffff};
  --color-black: #{#000000};
  --color-background-lightest: #{#ffffff};
  --color-background-light: #{#f1f4ff};
  --color-background: #{#eef1fb};
  --color-shadow-up: #{#ffffff};
  --color-shadow-down: #{#cdcfd9};
  --color-box-shadow: #{71, 71, 71};
  --color-text-nav: #{#373f57};
  --color-text-grey: #{#6a728b};
  --color-error-red: #{#b00020};

  --color-primary-lightest: #{#bcc1f8};
  --color-primary-light: #{#8c96ef};
  --color-primary-light-sub: #{#a7aef0};
  --color-primary: #{#6772e5}; // Main Primary color */
  --color-primary-dark: #{#4755d8};
  --color-primary-darkest: #{#303f9f};

  --color-secondary-lightest: #{#fab3e6};
  --color-secondary-light: #{#f27ed2};
  --color-secondary: #{#ea55c1}; // Main Secondary color */
  --color-secondary-dark: #{#df32af};
  --color-secondary-darkest: #{#d10e9b};

  --color-tertiary-lightest: #{#ebfeb6};
  --color-tertiary-light: #{#ddfc83};
  --color-tertiary: #{#d2fb5b}; // Main tertiary color */
  --color-tertiary-dark: #{#c7f937};
  --color-tertiary-darkest: #{#bbf610};

  --color-complementary-lightest: #{#ffebb7};
  --color-complementary-light: #{#ffde85};
  --color-complementary: #{#ffd35d}; // Main complementary color */
  --color-complementary-dark: #{#ffc939};
  --color-complementary-darkest: #{#ffbe11};
}

.dark-mode {
  --color-white: #{#ffffff};
  --color-black: #{#000000};
  --color-background: #{#000000};
  --color-background-light: #{#121212};
  --color-background-lightest: #{#1f1f1f};
  --color-shadow-up: #{#1a1a1a};
  --color-shadow-down: #{#242424};
  --color-box-shadow: #{0, 0, 0};
  --color-text-nav: #{#d1d1d1};
  --color-text-grey: #{#ababab};
  --color-error-red: #{#cf6679};

  --color-primary-lightest: #{#bcc1f8};
  --color-primary-light: #{#8c96ef};
  --color-primary-light-sub: #{#a7aef0};
  --color-primary: #{#6772e5}; // Main Primary color */
  --color-primary-dark: #{#4755d8};
  --color-primary-darkest: #{#303f9f};

  --color-secondary-lightest: #{#fab3e6};
  --color-secondary-light: #{#f27ed2};
  --color-secondary: #{#ea55c1}; // Main Secondary color */
  --color-secondary-dark: #{#df32af};
  --color-secondary-darkest: #{#d10e9b};

  --color-tertiary-lightest: #{#ebfeb6};
  --color-tertiary-light: #{#ddfc83};
  --color-tertiary: #{#d2fb5b}; // Main tertiary color */
  --color-tertiary-dark: #{#c7f937};
  --color-tertiary-darkest: #{#bbf610};

  --color-complementary-lightest: #{#ffebb7};
  --color-complementary-light: #{#ffde85};
  --color-complementary: #{#ffd35d}; // Main complementary color */
  --color-complementary-dark: #{#ffc939};
  --color-complementary-darkest: #{#ffbe11};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: var(--color-background-lightest); /* W3C */
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: 'Open sans', sans-serif;
  height: auto;
  width: 100%;
  color: var(--color-text-nav);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: var(--color-background-lightest);
  overflow-x: hidden;
}

.main-header {
  display: grid;
  grid-template-rows: 3rem 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: '';
}

.section-theme {
  font-size: 12px;
  height: 1.8rem;
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  /* For color theme icons */
  .feather {
    cursor: pointer;
    height: 18px;
    width: 18px;
    padding: 1px;
    background-color: var(--color-background-lightest);
    outline: 1px solid var(--color-background-light);
    margin: 0;
    border-radius: 5px;
    transition: all 0.1s ease;
  }
  .feather:hover {
    border-color: var(--color-text-nav);
  }
  .feather.preferred {
    border-color: var(--color-text-nav);
  }
  .feather.selected {
    color: var(--color-white);
    border-color: var(--color-text-nav);
    background-color: var(--color-primary);
  }
  ul {
    list-style-type: none;
    display: flex;
  }
}

.nav-container {
  display: flex;
  width: 100%;
  height: 2.5rem;
  background-color: var(--color-background-lightest);
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0rem 5% 1rem 5%;
  z-index: 1;
}
.nav-container-desktop {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: var(--color-background-lightest);
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 4rem 2rem 2rem 2rem;
  z-index: 1;
}
.nav-dropshadow {
  box-shadow: 1px 1px 30px var(--color-text-grey);
}

.logo {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-text-nav);
  justify-content: flex-start;
}

.svg-menu {
  height: 2.8rem;
  width: 2.8rem;
  fill: var(--color-text-nav);
  cursor: pointer;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
  list-style: none;
  a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 0;
    margin: 0 2rem;
    font-weight: 500;
    color: var(--color-text-nav);
    transition: all 0.2s ease 0s;
  }
  a:hover {
    color: var(--color-primary);
  }
  a:focus {
    outline: none;
    color: var(--color-primary);
  }
  a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: transparent;
  }
  .animation-hover:after {
    transition: width 0.3s ease, background-color 0.3s ease, left 0.3s ease;
  }
  .animation-hover:hover:after {
    width: 100%;
    left: 0;
    background: var(--color-primary);
  }
}

.nav-btn {
  button {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 0 1rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 500;
    color: var(--color-text-nav);
    border: none;
    outline: none;
    border-radius: 5rem;
    letter-spacing: 0.15rem;
    background: var(--color-background-lightest);
    box-shadow: 7px 7px 15px var(--color-shadow-down),
      -7px -7px 15px var(--color-shadow-up);
    transition: all 0.2s ease 0.1s;
  }
  button:hover {
    box-shadow: 13px 13px 20px var(--color-shadow-down),
      -13px -13px 20px var(--color-shadow-up);
    color: var(--color-primary);
    /* text-shadow: 
    0 0 0.5rem var(--color-white),
    0 0 1rem var(--color-white),
    0 0 1.5rem var(--color-white),
    0 0 0.2rem var(--color-primary); */
  }
  button:focus {
    box-shadow: 7px 7px 15px var(--color-shadow-down),
      -7px -7px 15px var(--color-shadow-up);
    color: var(--color-primary);
  }
  button:active {
    box-shadow: inset 10px 10px 20px var(--color-shadow-down),
      inset -10px -10px 20px var(--color-shadow-up);
  }
}

/* Navigation ends here */

/* Hero Section Starts here*/

.main-section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'one one'
    'two two';
  height: 75vh;
  margin: 1rem;
}

.left-section-hero {
  grid-area: two;
  width: 100%;
  margin: 1rem 0 1rem 0;
  align-self: center;
  justify-self: center;
  h1 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: block;
    margin: 0 auto;
    max-width: 25rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.herobox-button {
  z-index: 1;
  display: block;
  margin: 0 auto;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  height: 4rem;
  width: 25rem;
  font-family: 'Open sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
  border: none;
  outline: none;
  border: 2px solid var(--color-primary);
  border-radius: 5rem;
  letter-spacing: 0.15rem;
  background: var(--color-primary);
  box-shadow: 7px 7px 15px var(--color-shadow-down),
    -7px -7px 15px var(--color-shadow-up);
  transition: all 0.1s ease 0.1s;

  &:hover {
    box-shadow: 13px 13px 20px var(--color-shadow-down),
      -13px -13px 20px var(--color-shadow-up);
    color: var(--color-primary);
    background-color: var(--color-background-lightest);
    border: 2px solid var(--color-primary);
  }
  &:focus {
    box-shadow: 7px 7px 15px var(--color-shadow-down),
      -7px -7px 15px var(--color-shadow-up);
    color: var(--color-primary);
    background-color: var(--color-sec-background);
    border: 2px solid var(--color-primary);
  }
  &:active {
    box-shadow: inset 10px 10px 20px var(--color-shadow-down),
      inset -10px -10px 20px var(--color-shadow-up);
    background-color: var(--color-background-lightest);
    border: 2px solid var(--color-primary);
  }
}

.right-section-hero {
  grid-area: one;
  align-self: center;
  justify-self: center;
  img {
    padding: 5px;
    max-height: 35rem;
    min-width: 360px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}

/* Hero Section ends here */

.below-header-svg {
  margin-top: 10rem;
  display: block;
  fill: var(--color-background);
}
/* Features Section Starts here */

.feature-section {
  background-color: var(--color-background);
  margin-top: 0rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}
.heading-feature-section {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
  padding: 5rem 2rem 6rem 2rem;
  text-transform: uppercase;
  background-color: var(--color-background);
}

.feature-grid {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'image' 'text';
}
.alt-color-1 {
  background-color: var(--color-background-lightest);
}
.alt-color-2 {
  background-color: var(--color-background-light);
}

.feature-image {
  grid-area: image;
  margin-top: 5rem;
  img {
    padding: 5px;
    height: 25rem;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}
.feature-text {
  grid-area: text;
  margin: 3rem 2rem 5rem 2rem;
  text-align: left;

  h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
}

/* Features Section ends here */

/* Cards Section starts here */

.cards-container {
  background-color: var(--color-background);
  width: 100%;
}

.heading-cards-section {
  text-align: center;
  font-size: 3.2rem;
  letter-spacing: 1px;
  padding: 4rem 2rem 5rem 2rem;
  text-transform: uppercase;
}

.cards-section {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &:last-child {
    padding-bottom: 10rem;
  }
}

.card {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: minmax(25rem, 36rem);
  grid-template-rows: 21rem max-content 6rem;
  grid-template-areas: 'image' 'text' 'stats';
  border-radius: 18px;
  background: var(--color-background-lightest);
  box-shadow: 3px 3px 20px var(--color-shadow-down);
  text-align: left;
  transition: 0.1s ease;
  cursor: pointer;
  &:hover {
    box-shadow: 5px 5px 20px var(--color-text-grey);
  }
}

.card-image {
  img {
    max-height: 24rem;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  grid-area: image;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.card-text {
  grid-area: text;
  padding: 0.1rem 2rem 1rem 2rem;
  .card-date {
    font-size: 1.4rem;
    color: var(--color-secondary);
  }
  h2 {
    margin-top: 0px;
    font-size: 2.4rem;
    color: var(--color-text-nav);
  }
  p {
    color: var(--color-text-grey);
    font-size: 1.4rem;
    font-weight: 400;
  }
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--color-primary);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-white);
    padding: 0.4rem;
  }
  .type {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .value {
    font-size: 2rem;
    font-weight: 500;
  }
}

/* Project Cards end here */

/* SDLC Timeline */

.timeline-container {
  background-color: var(--color-shadow-down);
  padding-top: 3.5rem;
  h1 {
    text-align: center;
    margin: 0 1rem;
    font-size: 3rem;
  }
}

.timeline {
  padding: 100px 0;
  position: relative;

  &::before {
    content: '';
    background: var(--color-primary-lightest);
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15%;
  margin-left: 15%;
  a {
    text-decoration: none;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);

    &:hover,
    &:active,
    &:focus {
      background: var(--color-primary);
      color: var(--color-white);
    }
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {
    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .date {
        top: 0;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent var(--color-background-lightest) transparent
          transparent;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: var(--color-background-lightest);
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  li {
    list-style-position: outside;
  }

  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.timeline-img {
  width: 20px;
  height: 20px;
  background: var(--color-primary-dark);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 30px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.timeline-item {
  .timeline-img-header {
    img {
      max-height: 30rem;
      width: 100%;
      padding-top: 4rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.timeline-img-header {
  width: auto;
  height: 36rem;
  position: relative;

  h2 {
    color: var(--color-text-nav);
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

.date {
  background: var(--color-secondary-dark);
  display: inline-block;
  color: var(--color-white);
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 5px;
    padding-left: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .timeline {
    &::before {
      left: 15px;
    }

    .timeline-img {
      left: 20px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 30px;
    }

    .timeline-item {
      &:nth-child(even) {
        .timeline-content {
          float: none;
          .date {
            left: unset;
            top: 0;
            right: 0;
          }
        }
      }

      &:nth-child(odd) {
        .timeline-content {
          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #ffffff transparent transparent;
          }
        }
      }
    }
  }
}

/* SDLC Timeline ends */

/* Pricing Section */

.pricing-section {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-background);
  padding-bottom: 5rem;
}

.pricing-heading-main {
  grid-area: heading;
  font-size: 3.6rem;
  text-align: center;
  margin: 3rem 0;
}

.pricing-grid {
  display: grid;
  grid-template-columns: minmax(25rem, 42rem);
  grid-template-rows: 10rem max-content max-content;
  grid-template-areas:
    'heading'
    'basic'
    'expert';
}

.pricing-common {
  font-size: 1.8rem;
  margin: 1.5rem;
  padding: 0;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 1px 1px 15px var(--color-shadow-down);
  h2 {
    margin: 3.4rem 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  h3 {
    font-size: 2rem;
    color: var(--color-text-grey);
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 300;
  }
  .basic-pricing-desc {
    font-size: 1.5rem;
    color: var(--color-text-nav);
    text-align: left;
    padding: 0 3rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }
  .bullet-points {
    margin: 0 auto 2rem 3rem;
    span {
      display: inline-block;
      margin: 0.5rem 0.5rem;
    }
  }
  button {
    font-family: 'Open sans', sans-serif;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 7rem;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.pricing-basic {
  grid-area: basic;
  background-color: var(--color-background-lightest);
  button {
    color: var(--color-black);
    background-color: var(--color-primary-light);
    border-top: 3px solid var(--color-primary-lightest);
  }
  .cross-icon {
    span {
      color: var(--color-text-grey);
      text-decoration: line-through;
    }
  }
}
.pricing-expert {
  grid-area: expert;
  background-color: var(--color-primary-darkest);
  color: var(--color-white);
  h3 {
    color: #dfe1f1;
  }

  .basic-pricing-desc {
    color: #bbbece;
  }
  button {
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    border-top: 3px solid var(--color-primary);
  }
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: var(--color-white);
  }
  .cross-icon {
    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
      fill: var(--color-complementary);
    }
  }
}
/* SVG Icons */

.svg-icon {
  position: relative; /* Helps align the svg icon with bullet point */
  top: 0.45rem;
  width: 2.5rem;
  height: 2.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--color-primary);
}

.cross-icon {
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: var(--color-secondary-darkest);
  }
}

.svg-icon circle {
  stroke: var(--color-primary);
  stroke-width: 1;
}

/* Pricing Section ends */

/* Footer */

.footer-section {
  background-color: #0c1014;
  font-size: 1.4rem;
  line-height: 2;
  padding: 4rem 2rem 4rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr max-content;
  grid-template-areas:
    'one one two two'
    'three three four four'
    'five five five five';
  h2 {
    color: var(--color-white);
  }
  a {
    text-decoration: none;
    color: var(--color-text-grey);
    padding: 8px 10px 8px 0;
    text-transform: uppercase;
    font-size: 14px;
    /*  margin-bottom: 20px;
    margin-top: 10px; */
    display: block;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-white);
    }
  }
}

.footer-section-social-media {
  grid-area: one;
  margin-bottom: 2rem;
}
.footer-section-website-type {
  grid-area: two;
  margin-bottom: 2rem;
}
.footer-section-tech-stack {
  grid-area: three;
  margin-bottom: 2rem;
}
.footer-section-misc-links {
  grid-area: four;
  margin-bottom: 2rem;
}
.footer-section-copyright {
  grid-area: five;
  justify-content: center;
  align-items: center;
  color: var(--color-text-grey);
}

/* Mixins Start here */

@mixin mobilecommon {
  .nav-container-desktop {
    display: none;
  }
}

@mixin mobile360-767 {
  .left-section-hero {
    h1 {
      margin-bottom: 2rem;
    }
  }
  .herobox-button {
    height: 5.2rem;
    width: 32rem;
    font-size: 2.4rem;
  }
  .heading-feature-section {
    padding: 5rem 2rem 10rem 2rem;
  }
  .nav-container {
    height: 3.5rem;
    padding: 2.5rem 5% 1rem 5%;
  }
  .logo {
    font-size: 2.6rem;
  }
  .main-section-hero {
    height: 85vh;
    margin: 2rem 1rem 1rem 1rem;
  }

  .below-header-svg {
    margin-top: 5rem;
  }
  .heading-feature-section {
    font-size: 4rem;
  }

  .heading-cards-section {
    font-size: 4rem;
  }
  .card {
    grid-template-columns: minmax(25rem, 38rem);
    grid-template-rows: 28rem 25rem 8rem;
  }

  .card-image {
    img {
      max-height: 26rem;
    }
  }
  .card-text {
    padding: 0.1rem 3rem 3rem 2.5rem;
    h2 {
      font-size: 2.8rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
  .card-stats {
    .type {
      font-size: 1.3rem;
    }
    .value {
      font-size: 2.4rem;
      font-weight: 500;
    }
  }
}

@mixin desktopcommon {
  .nav-container {
    display: none;
  }

  .timeline-container {
    h1 {
      font-size: 3.8rem;
      margin: 0 auto;
      max-width: 50rem;
    }
  }

  .container {
    margin-right: 2%;
    margin-left: 2%;
  }

  .timeline-content {
    width: 45%;
  }

  .timeline-img {
    width: 30px;
    height: 30px;
    margin-top: 37px;
  }

  .timeline-content {
    &::after {
      top: 42px;
    }
  }

  .timeline-item {
    &:nth-child(even) {
      .timeline-content {
        .date {
          right: auto;
          left: 0;
          border-top-left-radius: 5px;
          border-top-right-radius: 0;
        }
        &::after {
          top: 42px;
        }
      }
    }
  }
  .date {
    left: unset;
    top: 0;
    right: 0;
    border-top-right-radius: 5px;
  }

  .pricing-grid {
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
      'heading heading'
      'basic expert';
  }

  .pricing-basic {
    margin-top: 6rem;
    height: 69rem;
  }
  .pricing-expert {
    height: 80rem;
    .cross-icon {
      margin-top: 0.88rem;
    }
  }

  .footer-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr max-content;
    padding: 4rem 2rem 4rem 5rem;
    grid-template-areas:
      'one two three four'
      'one two three four'
      'five five five five';
  }
  .footer-section-copyright {
    margin-left: -3rem;
    display: flex;
    justify-content: center;
  }
}

/* Mixins End here */

/* MEDIA QUERIES STARTS HERE & GOES TILL THE END */

/* Mobile devices 320px*/

@media screen and (max-width: 320px) {
  @include mobilecommon;
}

/* Mobile devices 360px to 400px*/

@media screen and (max-width: 400px) and (min-width: 321px) {
  @include mobilecommon;
  @include mobile360-767;
  .section-theme {
    font-size: 13px;
    height: 2.2rem;
    .feather {
      height: 22px;
      width: 22px;
    }
  }

  .nav-container {
    height: 2.5rem;
    padding: 1.5rem 5% 1rem 5%;
  }

  .logo {
    font-size: 2.4rem;
  }

  .svg-menu {
    height: 3rem;
    width: 3rem;
  }

  .main-section-hero {
    height: 75vh;
    margin: 2rem 1rem 1rem 1rem;
  }

  .left-section-hero {
    h1 {
      max-width: 31rem;
      font-size: 2.4rem;
    }
  }

  .below-header-svg {
    margin-top: 5rem;
  }

  .heading-feature-section {
    font-size: 3.6rem;
  }

  .card {
    grid-template-rows: 24rem 25rem 8rem;
  }
  .card-text {
    padding: 2rem;
    .card-date {
      font-size: 1.4rem;
    }
    h2 {
      margin-top: 0px;
      font-size: 2.4rem;
    }
    p {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

.timeline-container {
  h1 {
    font-size: 3.4rem;
  }
}

/* Mobile devices 401px to 767px*/

@media screen and (max-width: 767px) and (min-width: 401px) {
  @include mobilecommon;
  @include mobile360-767;

  .section-theme {
    font-size: 14px;
    height: 2.6rem;
    .feather {
      height: 26px;
      width: 26px;
    }
  }

  .svg-menu {
    height: 3.8rem;
    width: 3.8rem;
  }

  .left-section-hero {
    h1 {
      max-width: 35rem;
      font-size: 2.6rem;
    }
  }

  .right-section-hero {
    margin-top: 7rem;
    img {
      max-height: 40rem;
      min-width: 400px;
    }
  }
}

.timeline-container {
  h1 {
    font-size: 3.8rem;
  }
}

/* 768px — 1024px: Small screens, laptops */

@media screen and (max-width: 1024px) and (min-width: 768px) {
  @include desktopcommon;
  .btn-signup {
    display: none;
  }
  @include mobile360-767;

  .section-theme {
    font-size: 16px;
    height: 3rem;
    .feather {
      height: 30px;
      width: 30px;
      padding: 3px;
    }
  }

  .nav-item {
    a {
      font-size: 1.6rem;
    }
  }

  .left-section-hero {
    h1 {
      max-width: 45rem;
      font-size: 3.5rem;
    }
    button {
      height: 6rem;
      width: 45rem;
      font-size: 3rem;
    }
  }

  .right-section-hero {
    margin-top: 5rem;
    img {
      max-height: 80rem;
      min-width: 30rem;
    }
  }

  .feature-image {
    margin-top: 0;
    img {
      padding: 5rem;
      height: 40rem;
    }
  }
  .feature-text {
    margin: 3rem 20% 5rem 15%;
    font-size: 1.8rem;
    line-height: 3.5rem;
    h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  }

  .cards-section {
    grid-template-columns: minmax(25rem, 38rem) minmax(25rem, 38rem);
    grid-gap: 1rem;
  }
}

/* 1025px — 1280px: Desktops, large screens */

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  @include desktopcommon;

  .main-section-hero {
    grid-template-areas:
      'two one'
      'two one';
    height: 70vh;
    margin: 10rem 1rem;
  }
  .left-section-hero {
    align-self: center;
    justify-self: center;
    h1 {
      max-width: 45rem;
      font-size: 3.5rem;
    }
    button {
      height: 6rem;
      width: 45rem;
      font-size: 3rem;
    }
  }
  .right-section-hero {
    grid-area: one;
    align-self: center;
    justify-self: center;
    margin-left: -12rem;
    img {
      padding: 5px;
      max-height: 80rem;
      min-width: 30rem;
      background-position: center;
      background-size: cover;
    }
  }
}

/* 1281px and 1980px large screens upto FHD*/

@media screen and (max-width: 1980px) and (min-width: 1281px) {
  @include desktopcommon;
}

/* 1981px and 2880px 2k and WQHD screens */

@media screen and (max-width: 2880px) and (min-width: 1981px) {
}

/* 2881px and 5120px QHD, UHD and 5k screens*/

@media screen and (max-width: 5120px) and (min-width: 2881px) {
}

/* Screens bigger than 5k */

@media screen and (min-width: 5121px) {
}

/* Footer ends */
