/* Variables */
:root {
  --color-white: #{#ffffff};
  --color-black: #{#000000};
  --color-stats: #{#ffffff};
  --color-background: #{#f1f4ff};
  --color-sec-background: #{#ffffff};
  --color-shadow-up: #{#ffffff};
  --color-shadow-down: #{#cdcfd9};
  --color-box-shadow: #{71, 71, 71};
  --color-text-nav: #{#373f57};
  --color-text-grey: #{#6a728b};
  --color-primary: #{#a7aef0};
  --color-primary-theme: #{#6772e5};
  --color-secondary: #{#e56771};
  --color-tertiary: #{#e5db67};
  --color-grey-shade: #{#6a728b};
  --color-error-red: #{#b00020};
}
.light-mode {
  --color-white: #{#ffffff};
  --color-black: #{#000000};
  --color-stats: #{#ffffff};
  --color-background: #{#f1f4ff};
  --color-sec-background: #{#ffffff};
  --color-shadow-up: #{#ffffff};
  --color-shadow-down: #{#cdcfd9};
  --color-box-shadow: #{71, 71, 71};
  --color-text-nav: #{#373f57};
  --color-text-grey: #{#6a728b};
  --color-primary: #{#a7aef0};
  --color-primary-theme: #{#6772e5};
  --color-secondary: #{#e56771};
  --color-tertiary: #{#e5db67};
  --color-grey-shade: #{#6a728b};
  --color-error-red: #{#b00020};
}

.dark-mode {
  --color-white: #{#ffffff};
  --color-black: #{#000000};
  --color-stats: #{#000000};
  --color-background: #{#121212};
  --color-sec-background: #{#1f1f1f};
  --color-shadow-up: #{#1a1a1a};
  --color-shadow-down: #{#242424};
  --color-box-shadow: #{0, 0, 0};
  --color-text-nav: #{#d1d1d1};
  --color-text-grey: #{#ababab};
  --color-primary: #{#a7aef0};
  --color-primary-theme: #{#6772e5};
  --color-secondary: #{#ef9399};
  --color-tertiary: #{#ece591};
  --color-grey-shade: #{#6a728b};
  --color-error-red: #{#cf6679};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: var(--color-sec-background); /* W3C */
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: 'Open sans', sans-serif;
  height: auto;
  width: 100%;
  color: var(--color-text-nav);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: var(--color-sec-background);
  overflow-x: hidden;
}

.main-header {
  display: grid;
  grid-template-rows: 3rem 8rem;
  grid-template-columns: 1fr;
  grid-template-areas: '';
}

.section-theme {
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.nav-container {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: var(--color-sec-background);
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 2rem 5% 2rem 5%;
  z-index: 1;
}
.nav-dropshadow {
  box-shadow: 1px 1px 30px var(--color-grey-shade);
}

.logo {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-text-nav);
  justify-content: flex-start;
}

.svg-menu {
  height: 3.5rem;
  width: 3.5rem;
  fill: var(--color-text-nav);
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
  list-style: none;
  a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 0;
    margin: 0 2rem;
    font-weight: 500;
    color: var(--color-text-nav);
    transition: all 0.2s ease 0s;
  }
  a:hover {
    color: var(--color-primary);
  }
  a:focus {
    outline: none;
    color: var(--color-primary);
  }
  a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: transparent;
  }
  .animation-hover:after {
    transition: width 0.3s ease, background-color 0.3s ease, left 0.3s ease;
  }
  .animation-hover:hover:after {
    width: 100%;
    left: 0;
    background: var(--color-primary);
  }
}

.nav-btn {
  button {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 0 1.4rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 500;
    color: var(--color-text-nav);
    border: none;
    outline: none;
    border-radius: 5rem;
    letter-spacing: 0.15rem;
    background: var(--color-sec-background);
    box-shadow: 7px 7px 15px var(--color-shadow-down),
      -7px -7px 15px var(--color-shadow-up);
    transition: all 0.2s ease 0.1s;
  }
  button:hover {
    box-shadow: 13px 13px 20px var(--color-shadow-down),
      -13px -13px 20px var(--color-shadow-up);
    color: var(--color-primary);
    /* text-shadow: 
    0 0 0.5rem var(--color-white),
    0 0 1rem var(--color-white),
    0 0 1.5rem var(--color-white),
    0 0 0.2rem var(--color-primary); */
  }
  button:focus {
    box-shadow: 7px 7px 15px var(--color-shadow-down),
      -7px -7px 15px var(--color-shadow-up);
    color: var(--color-primary);
  }
  button:active {
    box-shadow: inset 10px 10px 20px var(--color-shadow-down),
      inset -10px -10px 20px var(--color-shadow-up);
  }
}

/* Navigation ends here */

/* Hero Section Starts here*/

.main-section-hero {
  display: grid;
  grid-template-rows: 4fr 2fr;
  grid-template-areas: 'left-section' 'right-section';
  height: 75vh;
  margin: 1rem;
}

.left-section-hero {
  grid-area: right-section;
  width: 100%;
  margin: 1rem 0 1rem 0;
  h1 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: block;
    margin: 0 auto;
    max-width: 35rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.herobox-button {
  display: block;
  margin: 0 auto;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 7rem;
  font-family: 'Open sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-white);
  border: none;
  outline: none;
  border: 2px solid var(--color-primary-theme);
  border-radius: 5rem;
  letter-spacing: 0.15rem;
  background: var(--color-primary-theme);
  box-shadow: 7px 7px 15px var(--color-shadow-down),
    -7px -7px 15px var(--color-shadow-up);
  transition: all 0.1s ease 0.1s;

  &:hover {
    box-shadow: 13px 13px 20px var(--color-shadow-down),
      -13px -13px 20px var(--color-shadow-up);
    color: var(--color-primary-theme);
    background-color: var(--color-sec-background);
    border: 2px solid var(--color-primary-theme);
  }
  &:focus {
    box-shadow: 7px 7px 15px var(--color-shadow-down),
      -7px -7px 15px var(--color-shadow-up);
    color: var(--color-primary-theme);
    background-color: var(--color-sec-background);
    border: 2px solid var(--color-primary-theme);
  }
  &:active {
    box-shadow: inset 10px 10px 20px var(--color-shadow-down),
      inset -10px -10px 20px var(--color-shadow-up);
    background-color: var(--color-sec-background);
    border: 2px solid var(--color-primary-theme);
  }
}

.right-section-hero {
  grid-area: left-section;
  img {
    padding: 5px;
    max-height: 35rem;
    width: 100vw;
    background-position: center;
    background-size: cover;
  }
}

/* Hero Section ends here */

.below-header-svg {
  margin-top: 5rem;
  display: block;
  fill: var(--color-background);
}
/* Features Section Starts here */

.feature-section {
  background-color: var(--color-background);
  margin-top: 0;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  :nth-child(2n + 3) {
    background-color: var(--color-sec-background);
  }
}
.heading-feature-section {
  text-align: center;
  font-size: 3.2rem;
  letter-spacing: 1px;
  margin: 0 2rem 6rem 2rem;
}

.feature-grid {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 'image' 'text';
}
.feature-image {
  grid-area: image;
  img {
    padding: 5px;
    height: 30rem;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}
.feature-text {
  grid-area: text;
  margin: 1rem 2rem 2rem 2rem;
  text-align: center;
  h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
}

/* Features Section ends here */

/* Cards Section starts here */

.cards-container {
  background-color: var(--color-stats);
  width: 100%;
}

.heading-cards-section {
  text-align: center;
  font-size: 3.2rem;
  letter-spacing: 1px;
  padding: 4rem 2rem 6rem 2rem;
}

.cards-section {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  margin: 2rem 2rem;
  display: grid;
  grid-template-columns: minmax(25rem, 36rem);
  grid-template-rows: 24rem 26rem 8rem;
  grid-template-areas: 'image' 'text' 'stats';
  border-radius: 18px;
  background: var(--color-sec-background);
  box-shadow: 21px 21px 42px var(--color-shadow-down),
    -21px -21px 42px var(--color-shadow-up);
  text-align: center;
  transition: 0.1s ease;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    box-shadow: 13px 13px 25px var(--color-shadow-down),
      -13px -13px 25px var(--color-shadow-up);
  }
}

.card-image {
  img {
    max-height: 24rem;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  grid-area: image;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.card-text {
  grid-area: text;
  margin: 25px;
  .card-date {
    color: var(--color-primary-theme);
  }
  h2 {
    margin-top: 0px;
    font-size: 2.8rem;
    color: var(--color-text-nav);
  }
  p {
    color: var(--color-text-grey);
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--color-primary-theme);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-stats);
    padding: 1rem;
  }
  .type {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .value {
    font-size: 2.2rem;
    font-weight: 500;
  }
}

/* Project Cards end here */

/* SDLC Timeline */

$primary: #4755d8;
$dark-primary: #303f9f;
$light-primary: #c5cae9;
$text: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #df32af;

.timeline-container {
  margin-top: 10rem;
  h1 {
    text-align: center;
    margin: 1rem;
  }
}

.timeline {
  padding: 100px 0;
  position: relative;

  &::before {
    content: '';
    background: $light-primary;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15%;
  margin-left: 15%;
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {
    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .date {
        right: auto;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  li {
    list-style-position: outside;
  }

  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

a {
  text-decoration: none;
  background: $primary;
  color: $text;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);

  &:hover,
  &:active,
  &:focus {
    background: darken($primary, 10%);
    color: $text;
  }
}

.timeline-card {
  padding: 0 !important;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.timeline-item {
  .timeline-img-header {
    img {
      max-height: 30rem;
      width: 100%;
      padding-top: 5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.timeline-img-header {
  width: auto;
  height: 35rem;
  position: relative;
  margin-bottom: 20px;

  h2 {
    color: $text;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

.date {
  background: $accent;
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 2%;
    margin-left: 2%;
  }
  .timeline {
    &::before {
      left: 30px;
    }

    .timeline-img {
      left: 30px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 50px;
    }

    .timeline-item {
      &:nth-child(even) {
        .timeline-content {
          float: none;
        }
      }

      &:nth-child(odd) {
        .timeline-content {
          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
          }
        }
      }
    }
  }
}

/* SDLC Timeline ends */

/* Pricing Section */
.pricing-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  grid-template-areas:
    'heading'
    'basic'
    'expert'
    'enterprise';
}

.pricing-heading-main {
  grid-area: heading;
  font-size: 3rem;
  text-align: center;
}

.pricing-basic {
  grid-area: basic;
}
.pricing-expert {
  grid-area: expert;
}
.pricing-enterprise {
  grid-area: enterprise;
}

/* Pricing Section ends */

/* Footer */

.footer-section {
  background-color: var(--color-background);
  font-size: 1.4rem;
  line-height: 2;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'one one two two'
    'one one two two'
    'three three four four'
    'three three four four'
    'five five five five';
}

.footer-section-social-media {
  grid-area: one;
}
.footer-section-website-type {
  grid-area: two;
}
.footer-section-tech-stack {
  grid-area: three;
}
.footer-section-misc-links {
  grid-area: four;
}
.footer-section-copyright {
  grid-area: five;
}

/* Footer ends */

/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
